/* PRINT STYLESHEET MARTS 2024 */

@media print {
	body {
		font-family: Georgia, serif;
		background: none;
		color: black;
	}
	
	iframe, nav-bottom-bar, .ekptQy, .eSEigG, .dtmZCT, .eMISnK, .fMdrb { 
	  	display: none !important;
	}
	.dNEhFg {
		display: block !important;
	}
}
