/* PRINT STYLESHEET MARTS 2024 */

@media print {
	body {
		font-family: Georgia, serif;
		background: none;
		color: black;
	}
	
	iframe, nav-bottom-bar, .ekptQy, .dzTLDN, .eSEigG, .eMISnK, .fMdrb, .fBZmuL, .cfngNE, .cVjqrX { 
	  	display: none !important;
	}
	.dNEhFg {
		display: block !important;
	}
	h1.bGnppu {
		color: #000 !important;
	}
	.byQSLJ, .fmJbDn {
		background-color: #fff !important;
	}
	.bboCqo { 
		border: 1px solid black;
	}
}
