/* PRINT STYLESHEET MARTS 2024 */

@media print {
	body {
		font-family: Georgia, serif;
		background: none;
		color: black;
	}
	
	iframe, nav-bottom-bar, .ekptQy, .eSEigG, .eMISnK, .fMdrb, .fBZmuL { 
	  	display: none !important;
	}
	.dNEhFg {
		display: block !important;
	}
	.byQSLJ {
		background-color: white;
	}
	.bboCqo { 
		border: 1px solid black;
	}
}
